<%- include("header"); -%>
<div class="about-page">
<h2>Hello there!!!</h2>
<p class="about-text">Hi, I am Uddipto Jana.<br>Pleased to meet your acquaintance. </p>
</div>
<div class="bottom-container">
    <a class="footer-link"  href="https://www.linkedin.com/in/uddipto-jana-910826257/?originalSubdomain=in">LinkedIn</a>
    <a class="footer-link"  href="https://instagram.com/_venom10_">Instagram</a>
  </div>
  

<%- include("footer"); -%>